#root {
    -fx-background-image: url("file:img/background.jpg");
    -fx-background-size: cover;
    -fx-padding: 15px;
}

.sidebar {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-padding: 30px;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
}

.rightSide {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-padding: 30px;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
    -fx-min-width: 800px;
    -fx-max-width: 800px;
}

.btn1 {
    -fx-background-color: white;
    -fx-text-fill: #cc5803;
    -fx-border-radius: 10px;
    -fx-max-width: 200px;
    -fx-font-size: 16px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
}

.btn2 {
    -fx-background-color: #cc5803;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-max-width: 200px;
    -fx-font-size: 16px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
}

.btn1, .btn2 {
    -fx-cursor: hand;
}

TextField, PasswordField {
    -fx-padding: 5px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #cc5803;
    -fx-max-width: 200px;
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.title {
    -fx-text-fill: #0C254B;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}


.list-view {
    -fx-background-color: #f5f5f5;
    -fx-font-size: 16px;
}

.list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-padding: 10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.1) , 5, 0.0 , 0 , 1 );
    -fx-background-insets: 0, 0 0 1 0;
}

.list-cell:hover {
    -fx-background-color: #ecf0f1;
    -fx-cursor: hand;
}

.list-cell:selected {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

.list-view:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.list-view:focused .list-cell:selected {
    -fx-background-color: #cc5803;
}

.scroll-bar:vertical {
    -fx-background-color: #ecf0f1;
}

.scroll-bar:horizontal {
    -fx-background-color: #ecf0f1;
}

.scroll-bar .thumb {
    -fx-background-color: #cc5803;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #bdc3c7;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-background-color: #ffffff;
    -fx-shape: "M0,0 L5,5 L10,0 Z";
}

.choice-box .context-menu {
    -fx-background-color: #cc5803;
    -fx-pref-width: 200px;
}

.choice-box .menu-item:focused {
    -fx-background-color: white;
}
.choice-box .menu-item > .label {
    -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: #cc5803;
}

.choice-box .menu-item:selected {
    -fx-text-fill: white;
}

.choice-box {
    -fx-background-color: #cc5803;
    -fx-mark-color: white;
    -fx-pref-width: 200px;
}

RadioButton {
    -fx-text-fill: #cc5803;
    -fx-font-weight: bold;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #cc5803;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}



.date-picker .arrow-button {
	-fx-background-color: #cc5803;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: #0C254B ;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: #d1d1d1;
}
.date-picker .cell:focused {
	-fx-background-color: #d1d1d1;
}
.date-picker .selected {
	-fx-background-color: #cc5803;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: #cc5803;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: #cc5803;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: #0C254B;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}