/* 0C254B */

.root {
    -fx-background-image: url("file:img/background3.jpg");
    -fx-background-size: cover;
}

.login {
    -fx-background-color: white;
    -fx-padding: 50px;
    -fx-min-width: 450px;
    -fx-max-width: 450px;
    -fx-background-radius: 20px;
}

.registration {
    -fx-background-color: white;
    -fx-padding: 50px;
    -fx-min-width: 550px;
    -fx-max-width: 550px;
    -fx-background-radius: 20px;
}

Label {
    -fx-text-fill: #cc5803;
    -fx-font-size: 18px;
}

TextField, PasswordField {
    -fx-padding: 5px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #cc5803;
    -fx-max-width: 250px;
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.btn1 {
    -fx-text-fill: #0C254B;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-transition: 0.3s;
}

.btn1:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}


.btn {
    -fx-text-fill: white;
    -fx-background-color: #cc5803;
    -fx-padding: 10px 35px 10px 35px;
    -fx-font-size: 18px;
}

.btn:hover {
    -fx-background-color: rgba(204, 88, 3, 0.8);
    -fx-cursor: hand;
}